<div class="button-bar" ng-show="inicio || fin">
  <a class="button  button-light" ng-click="back()">
    <span class="positive">
      <i class="icon left ion-ios7-close-outline"></i> Cerrar
    </span>
  </a>
  <a class="button  button-light" ng-click="save(time)">
    <span class="positive">
      Guardar <i class="icon right ion-ios7-checkmark-outline"></i>
    </span>
  </a>
</div>
<div ng-show="inicio">
  <p>
    Hora Inicio: {{inicioHora}}
  </p>
  <div class="list">
    <div class="item range range-positive">
      <i class="icon ion-ios7-sunny-outline"></i>
      <input type="range" ng-model="inicioHora" name="volume" min="0" max="24" value="7">
      <i class="icon ion-ios7-sunny"></i>
    </div>
  </div>
  <p>
    Minuto Inicio: {{inicioMinuto}}
  </p>
  <div class="list">
    <div class="item range range-positive">
      <i class="icon ion-ios7-sunny-outline"></i>
      <input type="range" ng-model="inicioMinuto" name="volume" min="0" max="50" value="30" step="10">
      <i class="icon ion-ios7-sunny"></i>
    </div>
  </div>
</div>
<div ng-show="fin">
  <p>
    Hora Finalizacion: {{finHora}}
  </p>
  <div class="list">
    <div class="item range range-positive">
      <i class="icon ion-ios7-sunny-outline"></i>
      <input type="range" ng-model="finHora" name="volume" min="0" max="24" value="7">
      <i class="icon ion-ios7-sunny"></i>
    </div>
  </div>
  <p>
    Minuto Fin: {{finMinuto}}
  </p>
  <div class="list">
    <div class="item range range-positive">
      <i class="icon ion-ios7-sunny-outline"></i>
      <input type="range" ng-model="finMinuto" name="volume" min="0" max="50" value="30" step="10">
      <i class="icon ion-ios7-sunny"></i>
    </div>
  </div>
</div>
