<div class="table-responsive" st-table="empleados">
  <div class="bar bar-header item item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input st-search placeholder="Buscar..." type="search"/>
    </label>
    <a class="button button-clear button-positive icon ion-ios7-plus-outline" ui-sref="main.camp.mobra.empleados.add">
      Añadir
    </a>
  </div>
  <div ui-view></div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th class="positive" st-sort="apellidos">Nombre</th>
        <th class="positive" st-sort="tel">Contacto</th>
        <th class="positive" st-sort="direccion">Direccion</th>
        <th class="positive" st-sort="poblacion">Poblacion</th>
        <th class="positive" st-sort="poblacion">Costes</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="empleado in empleados">
        <td>
          <i class="icon ion-checkmark balanced" ng-if="empleado.active"></i>
          <i class="icon ion-ios-pause assertive" ng-if="!empleado.active"></i>
          {{empleado.apellidos}}, {{empleado.name}}<br/>
          DNI: {{empleado.nif}}<br/>
          <button class="button button-small button-outline button-balanced button-block icon ion-checkmark" ng-if="!empleado.active"> Alta</button>
          <button class="button button-small button-outline button-assertive button-block icon ion-ios-pause" ng-if="empleado.active"> Baja</button></td>
        <td>{{empleado.tel}}<br/>{{empleado.email}}</td>
        <td>{{empleado.direccion}}</td>
        <td>{{empleado.poblacion}}</td>
        <td><small>J: {{empleado.costjornal | currency}}<br/>P: {{empleado.costportes | currency}}<br/>H.E: {{empleado.costhextra | currency}}</small></td>
        <td class="center">
          <a class="button button-icon icon ion-ios7-compose-outline positive" ui-sref="main.camp.mobra.empleados.edit({emplId: empleado.id})"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
