

<div class="card" id="empleadoCard">
  <form name="addEmpleado" ng-submit="save(addEmpleado.$valid)" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
    <div class="button-bar">
      <a class="button button-positive button-outline icon-left ion-ios7-close-outline" ng-click="back()"> Cancelar</a>
      <button type="submit" class="button button-positive button-outline icon-right ion-ios7-cloud-upload-outline" ng-disabled="addEmpleado.$invalid">Guardar </button>
    </div>

      <div class="list">
        <label class="item item-input">
          <span class="input-label">Nombre: <span class="assertive">*</span></span>
          <input type="text" ng-model="emplead.name" required placeholder="Introduzca nombre del Empleado... ">
        </label>

        <label class="item item-input">
          <span class="input-label">Apellidos: <span class="assertive">*</span></span>
          <input type="text" ng-model="emplead.apellidos" required placeholder="Introduzca apellidos del Empleado... ">
        </label>

        <ion-toggle ng-model="emplead.active" toggle-class="toggle-balanced">Activo (de Alta)</ion-toggle>

        <label class="item item-input">
          <span class="input-label">Telefono: <span class="assertive">*</span></span>
          <input type="text" ng-model="emplead.tel" required ng-minlength="9" placeholder="Introduzca telefono de contacto del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">Direccion:</span>
          <input type="text" ng-model="emplead.direccion" placeholder="Introduzca direccion de contacto del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">Poblacion:</span>
          <input type="text" ng-model="emplead.poblacion" placeholder="Introduzca poblacion del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">E-mail:</span>
          <input type="text" ng-model="emplead.email" placeholder="Introduzca e-mail del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">N.I.F.: <span class="assertive">*</span></span>
          <input type="text" ng-model="emplead.nif" required placeholder="Introduzca N.I.F. del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">Nº Seg. Social:</span>
          <input type="text" ng-model="emplead.nss" placeholder="Introduzca Nº Seguridad Social del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">Cat. Profesional:</span>
          <input type="number" ng-model="emplead.catprof" placeholder="Introduzca categoria profesional del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">Coste Jornal:</span>
          <input type="text" ng-model="emplead.costjornal" placeholder="Introduzca coste del jornal del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">Coste Hora Extra:</span>
          <input type="text" ng-model="emeplad.costhextra" placeholder="Introduzca coste hora extra del Empleado... ">
        </label>
        <label class="item item-input">
          <span class="input-label">Coste Porte:</span>
          <input type="text" ng-model="emeplad.costportes" placeholder="Introduzca coste porte del Empleado... ">
        </label>
      </div>

  </form>
</div>
