<div class="button-bar">
  <a class="button  button-light" ng-click="back()">
    <span class="positive">
      <i class="icon left ion-ios7-close-outline"></i> Cerrar
    </span>
  </a>
  <a class="button  button-light" ng-click="save(maquinaria)">
    <span class="positive">
      Guardar <i class="icon right ion-ios7-checkmark-outline"></i>
    </span>
  </a>
</div>

<div class="list">
  <div class="item item-divider">
    <p>Detalle Maquinaria/Equipo:</p>
  </div>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Marca:</span>
    <input type="text" ng-model="maquinaria.marca" placeholder="Introduzca marca de la maquinaria/equipo...">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Modelo:</span>
    <input type="text" ng-model="maquinaria.modelo" placeholder="Introduzca modelo de la maquinaria/equipo...">
  </label>
  <label class="item item-input item-select">
    <span class="input-label">Tipo Maquinaria/Equipo:</span>
    <select ng-model="maquinaria.tipomaq" ng-options="maquina.name group by maquina.grupo.name for maquina in tipomaquinas | orderBy:'grupo.name'">
    </select>
  </label>
  <!-- <label class="item item-input item-stacked-label">
    <span class="input-label">Tipo Maquinaria/Equipo: </span>
    <input type="text" ng-model="maquinaria.tipomaq" typeahead="tipo.id as tipo.name for tipo in tipomaquinas | filter:$viewValue | limitTo:8">
  </label> -->
  <label class="item item-input item-stacked-label">
    <span class="input-label">Matricula/Nº Serie:</span>
    <input type="text" ng-model="maquinaria.matricula" placeholder="Introduzca matricula/nº de serie de la maquinaria/equipo... ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Potencia c.v.:</span>
    <input type="text" ng-model="maquinaria.potencia" placeholder="Introduzca potencia de la maquinaria/equipo... ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Cap. Combustible:</span>
    <input type="text" ng-model="maquinaria.capfuel" placeholder="Introduzca capacidad de combustible de la maquinaria/equipo... ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Año:</span>
    <input type="number" ng-model="maquinaria.year" placeholder="Introduzca año de compra de la maquinaria/equipo... ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Vida Util (años):</span>
    <input type="number" ng-model="maquinaria.vida" placeholder="Introduzca vida util de la maquinaria/equipo... ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Valor €:</span>
    <input type="text" ng-model="maquinaria.valor" placeholder="Introduzca precio de compra de la maquinaria/equipo... ">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Observaciones:</span>
    <textarea ng-model="maquinaria.notas" placeholder="Introduzca potencia de la maquinaria/equipo... "></textarea>
  </label>
  <div class="item">
  <section class="container">

        <section class="droplet" ng-class="{ uploading: interface.isUploading() }">

          <span class="input-label">Imagen Maquinaria:</span>

          <ul class="statistics">
            <li><label>Valid:</label> {{interface.getFiles(interface.FILE_TYPES.VALID).length}}</li>
            <li><label>Invalid:</label> {{interface.getFiles(interface.FILE_TYPES.INVALID).length}}</li>
            <li><label>Uploaded:</label> {{interface.getFiles(interface.FILE_TYPES.UPLOADED).length}}</li>
            <li><label>Deleted:</label> {{interface.getFiles(interface.FILE_TYPES.DELETED).length}}</li>
            <li><label>Total:</label> {{interface.getFiles().length}}</li>
          </ul>


            <section class="toolbar">

                <input type="button" class="button upload-files" value="Upload Files"
                       ng-click="interface.uploadFiles()"
                       ng-hide="interface.isUploading()"
                       ng-class="{ clickable: interface.isReady() }" />

                <input type="button" class="button upload-files" value="Uploading..." ng-show="interface.isUploading()" />

                <div class="add-files">
                    <input type="button" class="button add-files" value="Add Files..." />
                    <droplet-upload-multiple ng-model="interface"></droplet-upload-multiple>
                </div>

                <comment class="progress" ng-class="{ visible: interface.isUploading() }">
                    Uploaded: {{interface.progress.percent}}%
                </comment>

            </section>

            <droplet ng-model="interface">

                <div class="loading" ng-class="{ visible: interface.isUploading() }">
                    <svg viewBox="0 0 400 400">
                        <path class="loading-path" data-progressbar ng-model="interface.progress.percent"
                              d="M 0,1 L 398,1 L 398,234 L 1,234 L 0,1"
                              stroke="#D3B2D1" stroke-width="1" fill-opacity="0"
                              style="stroke-dasharray: 392px, 392px;stroke-dashoffset: 392px;"></path>
                    </svg>
                </div>

                <comment></comment>

                <section class="message success" ng-class="{ visible: success }" ng-click="success = false">
                    Successfully uploaded {{uploadCount}} files.
                </section>

                <section class="message error" ng-class="{ visible: error }" ng-click="error = false">
                    Failed to upload any of the files.
                </section>

                <ul class="files">

                    <li ng-repeat="model in interface.getFiles(interface.FILE_TYPES.VALID)">
                        <droplet-preview ng-model="model"></droplet-preview>
                        <div class="delete" ng-click="model.deleteFile()">&times;</div>
                        <div class="size">{{model.file.size / 1024 / 1024 | number: 1}}MB</div>
                    </li>

                </ul>

            </droplet>

        </section>

    </section>
  </div>
</div>
