/* Empty. Add your own CSS if you like */

.txtleft {
  text-align: left
}
.txtright {
  text-align: right
}

.txtcenter {
  text-align: center
}

.energized-bg {
  color:white;
  padding: 1px 4px
}

.royal-bg {
  color:white;
  padding: 1px 4px
}

.positive-bg {
  color:white;
  padding: 1px 4px
}

#loading-bar .bar {
  background: #33cd5f;
  position: fixed;
  z-index: 10002;
  top: 42px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}
#loading-bar-spinner {
  display: block;
  position: fixed;
  z-index: 10002;
  top: 64px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width: 16px;
  height: 16px;

  border:  solid 2px transparent;
  border-top-color:  #33cd5f;
  border-left-color: #33cd5f;
  border-radius: 12px;

}
