<div class="button-bar">
  <a class="button  button-light" ng-click="back()">
    <span class="positive">
      <i class="icon left ion-ios7-close-outline"></i> Cerrar
    </span>
  </a>
  <a class="button  button-light" ng-click="create()">
    <span class="positive">
      Guardar <i class="icon right ion-ios7-checkmark-outline"></i>
    </span>
  </a>
</div>

  <div class="item item-divider">
    <h2>Especie/s a Cultivar</h2>
  </div>

<ul class="list">
  <li ng-repeat="especie in especies" class="item item-checkbox">
    <label class="checkbox">
      <input type="checkbox" checklist-model="cultivo.especies" checklist-value="especie.id">
    </label>
    {{especie.name}}
  </li>
</ul>
