<div class="item" style="padding: 1px">
  <a class="button icon-left ion-ios7-arrow-left button-clear button-positive" ng-click="back()"> Volver</a>
</div>
<div class="item" style="text-align: center;">
  <div style="display:inline-block; min-height:290px; vertical-align:top;">
    <span class="item-note">
      <button class="button button-clear button-positive icon-right ion-ios7-checkmark-outline"
      ng-click="selFchFin(fchFin)">{{fchFin | amDateFormat:'DD/MM/YYYY'}}</button>
    </span>
    <datepicker ng-model="fchFin" show-weeks="false" starting-day="1"></datepicker>
  </div>
</div>
