<div class="button-bar">
  <a class="button  button-light" ng-click="back()">
    <span class="positive">
      <i class="icon left ion-ios7-close-outline"></i> Cerrar
    </span>
  </a>
  <a class="button  button-light" ng-click="update(confeccion)">
    <span class="positive">
      Guardar <i class="icon right ion-ios7-checkmark-outline"></i>
    </span>
  </a>
</div>

<div class="item item-divider item-light">
  <p>Detalle Confeccion:</p>
</div>

<label class="item item-input">
  <span class="input-label positive">Nombre: <span class="assertive">*</span></span>
  <input type="text" ng-model="confeccion.name" placeholder="Introduzca Nombre de la confeccion...">
</label>
<!-- <label class="item item-input item-select">
  <span class="input-label positive">Especie: <span class="assertive">*</span></span>

  <select ng-model="confeccion.especie"
    ng-options="espec.name for espec in especies">
  </select>
</label> -->
<label class="item item-input item-select">
  <span class="input-label positive">Categoria: <span class="assertive">*</span></span>
  <select ng-model="confeccion.categ">
    <option value="e">Especial</option>
    <option value="1">1ª Categoria</option>
    <option value="2">2ª Categoria</option>
    <option value="i">Industria</option>
    <option value="d">Destrio</option>
  </select>
</label>
<label class="item item-input">
  <span class="input-label positive">Nº Envases:</span>
  <input type="number" ng-model="confeccion.nenvases" placeholder="Introduzca Nº de Envases por confeccion...">
</label>
<label class="item item-input">
  <span class="input-label positive">Peso Unitario:</span>
  <input type="text" ng-model="confeccion.pesounit" placeholder="Introduzca Peso unitario por envase...">
</label>
<label class="item item-input item-select">
  <span class="input-label positive">Unidad Peso:</span>
  <select ng-model="confeccion.unidad"
  ng-options="ud.name for ud in udesPeso">
</select>
</label>
