
<div class="list card">
  <div class="item item-avatar item-divider">
    <i class="icon ion-ios7-search"></i>
    <h2>{{title}}</h2>
    <p>{{fincaName}}</p>
  </div>

  <a class="button icon-left ion-ios7-arrow-left button-clear button-positive" ng-click="back()"> Volver</a>

  <div class="table-responsive">
    <table st-table="proveedores.proveedores" class="table table-bordered table-condensed table-striped">
      <thead>
        <tr>
          <th colspan="3">
            <input st-search placeholder="Buscar proveedor..." class="item item-input" type="search"/>
          </th>
          <th>
            <a class="button button-small button-block button-clear button-positive icon icon-left ion-ios7-plus-outline" ui-sref="main.camp.compras.newprov">
              Nuevo Proveedor
            </a>
          </th>
        </tr>
        <tr>
          <th>Nombre</th>
          <th>Direccion</th>
          <th>NIF</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="prov in proveedores.proveedores | orderBy: 'name'">
          <td>{{prov.name}}</td>
          <td>{{prov.direccion}}</td>
          <td>{{prov.nif}}</td>
          <td>
            <a class="button button-small button-block button-clear button-positive icon icon-right ion-ios7-arrow-forward" ng-click="selProv(prov)">Seleccionar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
