<div class="button-bar">
  <a class="button button-outline button-positive icon-left ion-ios7-arrow-left" ng-click="back()"> Volver</a>
  <a class="button button-outline button-positive icon-right ion-ios7-cloud-upload-outline" ng-click="save()"> Guardar</a>
</div>

<label class="item item-input">
  <span class="input-label">Nº Referencia:</span>
  <input type="text" ng-model="analisis.nref" placeholder="Introduzca nº referencia del analisis...">
</label>
<label class="item item-input">
  <span class="input-label">Muestra:</span>
  <input type="text" ng-model="analisis.muestra" placeholder="Introduzca identificacion de la muestra...">
</label>
<label class="item item-input">
  <span class="input-label">Motivo:</span>
  <input type="text" ng-model="analisis.motivo" placeholder="Introduzca motivo del analisis...">
</label>
